@font-face {
    font-family: 'SegoeMDL2';
    src: url('https://woa-project.github.io/LumiaWOA/font/SegMDL2.ttf');
}

/* Core site */
html {
    font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
}

footer {
    margin-top: 2rem;
    padding: 2rem 0;
}

footer div.caption p {
    font-size: 10px;
    line-height: 14px;
}

i.ms-Icon {
    -ms-transform: translateY(10%);
    transform: translateY(10%);
    margin-right: 12px;
}

.ms-Icon.smdl2 {
    font-family: "SegoeMDL2";
}

.wrapper {
    max-width: 64rem;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
}

r-grid {
    column-gap: 4rem;
    row-gap: 2rem;
}

main {
    display: grid;
    grid-template-columns: [full-start] minmax(5%, 1fr) [main-start] minmax(0, 64em) [main-end] minmax(5%, 1fr) [full-end];
}

main > * {
    grid-column: main;
}

.main-breakout {
    grid-column: full;
}

.main-breakout > * {
    max-width: 64em;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
}

@supports(padding: max(0em)) {
    .wrapper, .main-breakout > * {
        padding-left: max(5%, env(safe-area-inset-left));
        padding-right: max(5%, env(safe-area-inset-right));
    }
}

main {
    margin-top: 4rem;
}

.sect, .hero-sect, r-grid {
    padding: 4rem 0;
}

#hero {
    grid-column: full;
}

#hero > * {
    max-width: 64em;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
}

.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center
}

.align-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

@media screen and (min-width: 600px) {
    .cfh {
        height: 32rem;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 1.25rem 0;
}

h1 {
    font-size: 42px;
    line-height: 52px;
    font-weight: 700;
}

h2 {
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
}

h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
}

h4 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
}

h5 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
}

h6 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
}

p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.caption {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}

/*** Button ***/
.button {
    font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding-top: 0px;
    padding-right: 16px;
    padding-bottom: 0px;
    padding-left: 16px;
    min-width: 80px;
    height: 32px;
    user-select: none;
    outline: transparent;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    text-decoration: none;
    border-radius: 2px;
}

a.button {
    line-height: 30px;
}

.button:hover {
    text-decoration: none;
}

.button-group {
    display: inline-flex;
    align-items: center;
}

.button-group *:not(:last-child) {
    margin-right: 1rem;
}

/*** Navbar ***/
nav {
    position: fixed;
    top: 0;
    height: 3rem;
    width: 100%;
    z-index: 500;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1em;
    transition: all 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

nav.scrolled {
    height: 3rem;
    padding-top: 0rem;
    padding-bottom: 0.4rem;
    box-shadow: 0 1.6px 3.6px 0 rgba(0,0,0,.132), 0 0.3px 0.9px 0 rgba(0,0,0,.108);
}

@supports (backdrop-filter: blur(30px) saturate(125%)) or (-webkit-backdrop-filter: blur(30px) saturate(125%)) {
    nav.scrolled {
        -webkit-backdrop-filter: blur(30px) saturate(125%);
        backdrop-filter: blur(30px) saturate(125%);
    } 
}

nav > div > a {
    float: left;
    line-height: 3.25rem;
    font-weight: 600;
    text-decoration: none;
}

nav > div > .nav-links {
    float: right;
}

nav > div > .nav-links > a {
    cursor: pointer;
    display: inline-block;
    line-height: 1rem;
    padding: 1rem 0.2rem;
    margin: 0 0.55rem;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    transition: all 100ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

nav > div > .nav-links > a:hover {
    padding: 1rem 0.75rem;
    margin: 0 0;
}

/*** Images ***/
figure {
    margin: 0;
}

.img-wrapper {
    height: 0;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.phone-portrait {
    text-align: center;
    display: block;
    max-height: 32rem;
    margin-left: auto;
    margin-right: auto;
}

img:not([src]):not([srcset]) {
    visibility: hidden;
}

/*** Table ***/
table {
    border-spacing: 0;
    width: 100%;
    margin-bottom: 8rem;
}

table thead tr th {
    font-size: 11px;
    font-weight: 400;
    padding-bottom: 13px;
}

tr td, tr th {
    font-size: 14px;
    line-height: 20px;
    padding: 10px 12px;
    border-bottom: 1px solid rgba(0,0,0,.2);
}

table tr th {
    text-align: left;
}

/*** Decoration ***/
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 2px 6px;
    font-size: 12px;
    border-radius: 10px;
}

.codename {
    margin-left: 0.5rem;
    opacity: .4;
}

/*** Progress Bar ***/
.progress-bar {
    position: relative;
    height: 100%;
    text-align: center;
    background-color: #000;
    border-radius: 4px;
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
    display: inline-block;
}

.progress {
    box-shadow: none;
    height: 4px;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

/*** States ***/
span.state {
    padding: 0.25rem;
    border-radius: 1rem;
}

span.state > i.ms-Icon {
    margin: 0 2px;
}

/*** Light Mode ***/
@media (prefers-color-scheme: light) {
    html {
        background-color: #FFF;
        color: #323130;
    }

    .secondary { 
        color: #605E5C;
    }

    a {
        color: #0078D4;
    }

    a:hover {
        color: #106EBE;
    }

    footer {
        background-color: #F3F2F1;
    }

    @supports (backdrop-filter: blur(30px) saturate(125%)) or (-webkit-backdrop-filter: blur(30px) saturate(125%)) {
        nav.scrolled {
            background-color: rgba(255,255,255,.9);
        }
    }

    nav > .wrapper > .nav-links > a {
        color: #605E5C;
    }

    nav > .wrapper > .nav-links > a.active {
        border-bottom: 2px solid #0078D4;
        font-weight: 600;
        color: #323130;
    }

    nav > .wrapper > .nav-links > a:hover {
        border-bottom: 2px solid #0078D4;
        background-color: rgba(0,0,0,.1);
        color: #323130;
    }

    .button {
        background-color: #FFF;
        color: #323130;
        border-color: #8A8886;
    }

    .button:hover {
        background-color: #F3F2F1;
        color: #201F1E;
    }

    .button:active {
        background-color: #EDEBE9;
        color: #201F1E;
    }

    .button.primary {
        background-color: #0078D4;
        color: #FFF;
        border-color: #0078D4;
    }

    .button.primary:hover {
        background-color: #106EBE;
        border-color: #106EBE;
    }

    .button.primary:active {
        background-color: #005A9E;
        border-color: #005A9E;
    }

    .progress {
        background-color: #F3F2F1;
    }

    .progress-bar {
        background-color: #0078D4;
    }   

    table thead tr th {
        color: #605E5C;
    }
    
    tr td, tr th, table thead tr th {
        border-bottom: 1px solid #D2D0CE;
    }

    .badge {
        color: #F3F2F1;
        background-color: #0078D4;    
    }

    .hero-sect.grey {
        background-color: #FAF9F8;
    }

    .hero-sect.warning {
        background-color: #FDE7E9;
    }
    
    .hero-sect.blue {
        background-color: #0078D4;
    }

    .hero-sect.blue *:not(.button) {
        color: #FFF;
    }

    .state.working {
        color: #107C10;
        background-color: #DFF6DD;
    }

    .state.warning {
        color: #797673;
        background-color: #FFF4CE;
    }

    .state.error {
        color: #A80000;
        background-color: #FDE7E9;
    }
}

/*** Dark Mode ***/
@media (prefers-color-scheme: dark) {
    html {
        background-color: #11100F;
        color: #F3F2F1;
    }

    .secondary {
        color: #D2D0CE;
    }

    footer {
        background-color: #323130;
    }

    a {
        color: #2899F5;
    }

    a:hover {
        color: #3AA0F3;
    }

    @supports (backdrop-filter: blur(30px) saturate(125%)) or (-webkit-backdrop-filter: blur(30px) saturate(125%)) {
        nav.scrolled {
            background-color: rgba(17,16,15,.9);
        }
    }

    nav > .wrapper > .nav-links > a {
        color: #D2D0CE;
    }

    nav > .wrapper > .nav-links > a.active {
        border-bottom: 2px solid  #2899F5;
        font-weight: 600;
        color: #F3F2F1;
    }

    nav > .wrapper > .nav-links > a:hover {
        border-bottom: 2px solid  #2899F5;
        background-color: rgba(255,255,255,.1);
        color: #F3F2F1;
    }

    .button {
        background-color: #1B1A19;
        color: #FFF;
        border-color: #979693;
    }

    .button:hover {
        background-color: #252423;
        color: #F3F2F1;
    }

    .button:active {
        background-color: #292827;
        color: #FAF9F8;
    }

    .button.primary {
        background-color: #2899F5;
        color: #1B1A19;
        border-color: #2899F5;
    }

    .button.primary:hover {
        background-color: #3AA0F3;
        color: #1B1A19;
        border-color: #3AA0F3;
    }

    .button.primary:active {
        background-color: #6CB8F6;
        color: #1B1A19;
        border-color: #6CB8F6;
    }

    .progress {
        background-color: #252423;
    }

    .progress-bar {
        background-color: #2899F5;
    }

    table thead tr th {
        color: #B3B0AD;
    }

    tr td, tr th, table thead tr th {
        border-bottom: 1px solid #3B3A39;
    }

    .badge {
        color: #323130;
        background-color: #2899F5;    
    }

    .hero-sect.grey {
        background-color: #323130;
    }

    .hero-sect.warning {
        background-color: #a80000;
    }
    
    .hero-sect.blue {
        background-color: #005A9E;
    }

    .state.working {
        background-color: #107C10;
        color: #DFF6DD;
    }

    .state.warning {
        background-color: #797673;
        color: #FFF4CE;
    }

    .state.error {
        background-color: #A80000;
        color: #FDE7E9;
    }
}